html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #efefef;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0px;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
  width: 200px;
}

.main-content {
  padding: 15px 25px 15px 220px;
  width: 100%;
  overflow-x: hidden;
}

.ant-menu-inline {
  height: 100vh;
}

.white-box {
  position: relative;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #fff;
}
.ribbon4 {
  position: absolute;
  top: 5px;
  left: 0;
  padding: 5px 15px;
  background: #001529;
  color: #fff;
  z-index: 99;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, .3);
}

.ribbon4:before,
.ribbon4:after {
  content: "";
  position: absolute;
}

.ribbon4:before {
  width: 7px;
  height: 100%;
  top: 0;
  left: -6px;
  padding: 0 0 7px;
  background: inherit;
  border-radius: 5px 0 0 5px;
}

.ribbon4:after {
  width: 5px;
  height: 5px;
  bottom: -1px;
  left: -4px;
  background: rgba(0,21,41,0.9);
  border-radius: 5px 0 0 5px;
}
.chart-container {
  width: 100%;
  height: 85vh;
}

.half-container {
  width: 100%;
  height: 40vh;
}
.pair{
  display: flex;
}
.pair-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
padding: 10px
}
.stacked{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 width: 40px;
 height: 100px;
 background-color: #ddd;
 border-radius: 8px;
}

.ant-table-tbody{
  background-color: #fff;
}
.positive {
  position: absolute;
  top:15px;
  left: 0;
  width: 40px;
  height: 40%;
  background-color: #0004ea;
}
.negative {
position: absolute;
top:15px;
left: 0;
width: 40px;
height: 40%;
  background-color: #cf0a10;
}
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
  position: relative;
  padding: 5px 10px !important;
}
.currency-checkboxes,.filters{
  display: flex;
  align-items: center;
}

.filters h2{
  margin: 0 15px 0 0;
}
.ant-form-item-label>label{
font-weight: bolder;
}
.filters form{
  width: 100%;
}
.filters button {
margin-left: auto;
}
.chart-action{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 99;
  display: flex;
}
.chart-action-item{
  margin-left: 4px;
}
.chart-action-item .ant-tag{
  cursor: pointer;
}
.chart-action .ico-lg{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 2px;
cursor: pointer;
width: 30px;
height: 30px;
box-shadow: 9px 9px 20px rgba(163, 177, 198, 0.6),
-9px -9px 20px rgba(255, 255, 255, 0.5);
border: 1px solid #ccc;
}
.chart-action .ico-lg{
  font-size: 20px;
}